<main>
    <div class="container">
        <div class="card-panel teal darken-2 " >
            <div class="card white lighten-2  black-text postPanel" ng-repeat="post in posts | orderBy:'-created' track by post.id">
                 <div class="card-title" style="font-weight: bold">{{post.title}}</div>

                 <div class="card-content"><p ng-repeat="paragraph in post.contentSplited track by paragraph.id" class="" style="word-break: break-all;">{{paragraph.text}}<br/></p></div>
                 <div class="card-action">
                    <a class="btn tooltipped waves-effect teal lighten-1" ng-click="likePost($index, post.id)" >
                       {{post.likes + ' '}}<i class="material-icons" >thumb_up</i>
                    </a>
                     <button data-target="commentsModal" ng-click="openCommentModal($index)" class="btn waves-effect teal lighten-1 modal-trigger">
                         <i class="material-icons" >comment</i>
                     </button>
                 </div>
            </div>
        </div>
        <ul class="pagination center-align">
            <li ng-class="currentPage == pageNumber ? 'teal':''"  ng-repeat="pageNumber in postPageNumbers" ng-click="getPosts(pageNumber)" >
                <a style="cursor:pointer" >{{pageNumber}}</a>
            </li>
        </ul>
    </div>


    <!-- Modal Structure -->
    <div id="commentsModal" class="modal bottom-sheet">

        <div class="modal-content">
            <h4>Comments</h4>
            <div class="btn waves-effect" ng-click="showCreateCommentModal(currentPostOpened)"><i class="material-icons">add</i></div>
            <ul class="collection">

                    <li class="collection-item avatar teal lighten-2 white-text" ng-repeat="comment in comments">
                        <!--<i class="material-icons circle">user</i>-->
                        <span class="title">{{comment.title}}</span>
                        <p class="flow-text">
                            {{comment.content}}
                        </p>
                        <button class="secondary-content" ng-click="likeComment($index, comment)">{{comment.likes}}<i class="material-icons">thumb_up</i></button>
                    </li>

                </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red tooltipped" data-position="top" data-tooltip="publish">
            <i class="large material-icons teal" ng-click="showNewPostModal()"  title="">publish</i>
        </a>
    </div>

    <div id="PostModal" class="modal">
        <div class="modal-content">
            <h4>Post what's on your mind</h4>
            <form name="form">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" ng-model="post.title" id="title" required ng-class="post.error.title ? 'invalid': ''"/>
                        <label for="title" data-error="{{post.error.title.join(',')}}" class="left left-align">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"  maxlength="500" ng-model="post.content" id="" cols="30" rows="10" required ng-class="post.error.content ? 'invalid': ''"></textarea>
                        <label for="title" data-error="{{post.error.content.join(',')}}" class="left left-align">Content</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-action modal-close waves-effect teal white-text darken-1" ng-click="createPost(post)" ng-class="form.$valid ? 'enabled':'disabled'">Post</button>
                </div>
                <div class="red-text">
                    {{post.error.non_field_errors.join(',')}}
                </div>
            </form>
        </div>

    </div>

    <div id="NewCommentModal" class="modal">
        <div class="modal-content">
            <h4>Comment what's on your mind</h4>
            <form name="formComment">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" ng-model="comment.title" id="titleComment" required ng-class="comment.error.title ? 'invalid': ''"/>
                        <label for="title" data-error="{{comment.error.title.join(',')}}" class="left left-align">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"  maxlength="500" ng-model="comment.content" id="" cols="30" rows="10" required ng-class="comment.error.content ? 'invalid': ''"></textarea>
                        <label for="title" data-error="{{comment.error.content.join(',')}}" class="left left-align">Content</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-action modal-close waves-effect teal white-text darken-1" ng-click="createComment(comment)" ng-class="formComment.$valid ? 'enabled':'disabled'">Post</button>
                </div>
                <div class="red-text">
                    {{post.error.non_field_errors.join(',')}}
                </div>
            </form>
        </div>

    </div>

</main>