/* app css stylesheet */

.brand-logo img{
  border-radius: 50px;
  padding: 10px;
}



body > div.ng-scope > div > form > div {
  margin-top: 20px;
  margin-bottom: 40px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: 80vh;
}

.postPanel{
  color:black;
  font-size:18px;
  padding:10px;
}
