<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WallApp</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body >
<header>
  <nav>
    <div class="nav-wrapper teal">
      <a href="#/wall" class="brand-logo center">
        <img src="images/wall_logo.png" class="teal lighten-3 tooltipped" data-position="right" data-delay="50" data-tooltip="Wall App" alt="">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" ng-controller="LogOutCtrl">
        <li><a style="cursor: pointer" ng-click="logOut()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Log Out"><i class="material-icons">power_settings_new</i> </a></li>
      </ul>
    </div>
  </nav>
</header>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div ng-view ></div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="app.js"></script>
  <script src="login/login.js"></script>
  <script src="wall/wall.js"></script>
  <script src="createAccount/createAccount.js"></script>
  <script src="accountCreated/accountCreated.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
</body>
</html>
