<main class="loginWrapper valign-wrapper" >
    <div class="container" >
        <div class="row">
            <form class="col s8 offset-s2 card-panel valign" autocomplete="off">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="username"  autocomplete="off" ng-model="username" type="text" class="validate" ng-class="error.username ? 'invalid': ''">
                        <label for="username" data-error="{{error.username.join(',')}}" class="left left-align">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="password"  autocomplete="off" id="password" type="password" class="validate" ng-class="error.password ? 'invalid': ''">
                        <label for="password" data-error="{{error.password.join(',')}}" class="left left-align">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="button" ng-click="login()" class="waves-effect waves-light btn right right-align" value="Login">
                    </div>
                </div>
                <div class="red-text">
                    {{error.non_field_errors.join(',')}}
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Have No Wall? don't like facebook?</h5>
                <p class="grey-text text-lighten-4">Guess what? We neither!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">No Account?</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" ng-click="goToCreateAccount()" style="cursor: pointer">Create Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Wall App
        </div>
    </div>
</footer>