<main class="valign-wrapper">
<div class="container">
<div class="card-panel">
    <div class="row">
        <form name="form" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input  id="username" ng-model="username" type="text" class="validate" required ng-class="error.username ? 'invalid':''">
                    <label for="username" data-error="{{error.username.join(',')}}">Username</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input  id="first_name" ng-model="first_name" type="text" class="validate" required ng-class="error.first_name ? 'invalid':''">
                    <label for="first_name" data-error="{{error.first_name.join(',')}}">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" ng-model="last_name" class="validate" required ng-class="error.last_name ? 'invalid': ''">
                    <label for="last_name" data-error="{{error.last_name.join(',')}}">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" ng-model="password" class="validate" required ng-class="error.password ? 'invalid':''">
                    <label for="password" data-error="{{error.password.join(',')}}">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="repeatPassword" type="password" ng-model="repeatPassword" required class="validate" ng-class="error.password || repeatPassword!=password ? 'invalid':''">
                    <label for="repeatPassword" data-error="{{repeatPassword!=password ? 'Passwords must match':''}}">Repeat Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model="email" required ng-class="error.email ? 'invalid':''">
                    <label for="email" data-error="{{error.email.join(',')}}">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="button" ng-click="createAccount()" ng-class="repeatPassword!=password || !form.$valid  ? 'disabled':''" class="waves-effect waves-light btn right right-align" value="Create User">
                </div>
            </div>
            <div class="red-text">
                {{error.non_field_errors.join(',')}}
            </div>
        </form>
    </div>
</div>
</div>
</main>